<h1>Shortly - Link Shortener</h1>
<router-outlet></router-outlet>
<h2>Get Requests</h2>

<table>
  <tr>
    <button (click)="getAll()">Alle URL Paare anzeigen</button><br>
    <label>Message:&emsp; {{GetAllMessage}}</label><br>
    <label>Return Value: </label>
  <tr *ngFor="let u of Allurl">
    <td><a href={{u.shortURL}}>shortly.at/{{u.shortURL}}</a></td>
    <td>{{u.longURL}}</td>
  </tr>

  <tr>
    
    <br><label for="sURL">ShortURL eingeben:&emsp;</label>
    <label>shortly.at/</label><input type="text" id="sURL" name=shortURL><br>
    <button (click)="getByID()">URL Paar durch ShortURL suchen</button><br>
    <label>Message:&emsp; {{GetMessage}}</label><br>
    <label>Return Value: </label>
  <tr>
    <td>{{URLByID.shortURL}}</td>
    <td>{{URLByID.longURL}}</td>
  </tr>

</table>


<h2>Post Request</h2>

<table>
  <tr>
    <label for="PostShortURL">ShortURL eingeben:&emsp;</label>
    <label>shortly.at/</label><input type="text" id="PostShortURL" name=shortURL><br>
    <label for="PostLongURL">LongURL eingeben: </label>
    <input type="text" id="PostLongURL" name=shortURL><br>
    <button (click)="PostURL()">URL Paar zur Datenbank hinzufügen</button><br>
    <label>Message:&emsp; {{PostMessage}}</label><br>
    <label>Return Value: </label>
  <tr>
    <td >{{URLPost.shortURL}}</td>
    <td>{{URLPost.longURL}}</td>
  </tr>
</table>


<h2>Delete Request</h2>

<table>
  
  <br><label for = "ShortURLDelete">ShortURL eingeben:&emsp;</label>
  <label>shortly.at/</label><input type="text" id="ShortURLDelete" name=shortURL><br>
  <button (click)="DeleteURL()">ShortURL aus der Datenbank löschen</button><br>
  <label>Message:&emsp; {{DeleteMessage}}</label><br>
  <label>Changes made:&emsp;{{Changes}}</label>
</table>
